
.body {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:  ".    header" 
                          "aside  main" 
                          ".    footer";
    max-width: 1200px; 
    height: 98vh; 
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #59332B;
}

.header{
    grid-area: header;
    margin: 20px 20px 0px 20px;
   border-bottom: 1px solid #cccccc;
}

.header__img{
    width: 100px;
    margin-left: 50px;
    margin-top: 20px;
}

.aside__photo { 
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center; 
   
}

.aside__img {
    max-width: 80%;
}

.aside__link {
    margin: 20px 0px 0px 0px;
    list-style-type: none;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 20px 0px 20px;
}

.main__h1 {
    margin: 20px 0px 0px 0px;
}
.main__h2 {
    margin: 0px 0px 0px 0px;
}
.list__works {
    display: grid;
    grid-template-areas: "item1 item2 item3 item4";
    margin: 20px  auto;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.list__item {
    width: 400px;
    height: 300px;
}

.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}

.list__p {
    margin: 5px auto;
}
.main__item-img {
    max-width: 100%;
}

.footer{
    grid-area: footer;
    border-top: 1px solid #cccccc;
    margin: 20px 20px 0px 20px;
    color: black;
}

.footer__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 640px) {
  .main__item-img {
      width: 250px;
  }
}


